.hero-section {
    background-image: url('tgroup/HeroImage.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color for better contrast */
    text-align: center;
}
